*{
    background-color: beige;
}

h2{
    text-align: center;
}

form{
    text-align: center;
}

.flabel{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.finput{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-radius: 18px;
    background-color: bisque;
}

::placeholder{
    color:  black;
    opacity: 26%;
}

.button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    border-radius: 8px;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
}

p{
    text-align: center;
    font-size: 18px;
}

a{
    text-decoration: none;
}